@media(max-width:1440px) {}
@media(max-width:1320px) {}
@media(max-width:1290px) {}
@media(max-width:1140px) {
   .part{
      flex-direction: column;
      gap: 45px;
      text-align: center;
      justify-content: center;
   }
   .part__title{
     margin: 0 auto;
   }
   .part__text{
     text-align: center;
     margin: 24px auto;
   }
   .part__links{
     margin: 0 auto;
   }
   .layout{
      height: 311px;
   }
}

@media(max-width:1024px) {
  .header__content{
    flex-direction: column;
  }
  .info{
     margin-top: 100px;
  }
  .nav{
    margin: 15px 0;
  }
  .cardbox{
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
  }
  .part{
    flex-direction: column;
    align-items: center;
  } 
  .part__title{
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
  .part__text{
    font-size: 12px;
    line-height: 100%;
    text-align: center;
  }
  .contact__content{
    flex-direction: column;
    gap: 50px;
  }
  .form__control{
    align-items: flex-start;
    justify-content: start;
    max-width: 540px;
    width: 100%;
  }
}

@media(max-width:992px) {
  .main__content{
    flex-direction: column;
  }
  .play__link{
    top: 40%;
    left: 40%;
  }
  .wrap{
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .wrap__item:not(:last-child){
    margin-bottom: 15px;
  }
}

@media(max-width:768px) {
  .info__title{
    font-size: 60px;
    line-height: 72px;
  }
  .info__text{
    font-size: 18px;
    line-height: 120%;
  }
  .btn__red{
    padding: 15px 40px;
    font-size: 12px;
  }
  .btn__light{
    padding: 11px 20px;
    font-size: 12px;
  }
 .left{
   margin-bottom: 30px;
 }
  .title{
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }
  .left__text{
    font-size: 12px;
    line-height: 100%;
    text-align: center;
  }
  .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__content{
    flex-wrap: wrap;
    gap: 35px;
  }
}

@media(max-width:736px) {}

@media(max-width:734px) {}

@media(max-width:684px) {
 .info__title{
    font-size: 50px;
    line-height: 62px;
  }
  .info__text{
    font-size: 16px;
    line-height: 110%;
  } 
  .nav{
    margin: 15px 0;
  }
  .part__link{
    color: #fff;
    font-size: 25px;
  }
  .part__link:nth-child(even){
    margin: 0 15px;
  }
  .title{
   font-size: 25px;
   line-height: 35px;
  }
}

@media(max-width:667px) {}

@media(max-width:576px) {
  .nav{
    flex-wrap: wrap;
    justify-content: center;
  }
  .info__title{
    font-size: 40px;
    line-height: 52px;
  }
  .info__text{
    font-size: 14px;
    line-height: 100%;
    margin: 25px 0;
  }
  .btn__red{
    padding: 11px 30px;
    font-size: 12px;
  }
  .header__content{
    padding: 0;
  }
  .nav__link{
    font-size: 12px;
    line-height: 15px;
  }
}

@media(max-width:414px) {}

@media(max-width:412px) {
   .info__title{
    font-size: 30px;
    line-height: 42px;
  }
  .right span{
    width: 50px;
    height: 50px;
  }
}
@media(max-width:380px){
    /* .cardbox{
      gap: 150px;
    } */
   .card__info{
      padding: 20px 26px;
      width: 80%;
   }
  .card__info__title{
     font-size: 14px;
     line-height: 18px;
  }
  .card__info__text{
     margin: 10px 0;
  }
}
